.add__friend__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 76, 31, 0.5);
    font-weight: 700;
    font-style: oblique;
}

.add__friend__box img {
    width: 20%;
}

.add__friend__box--opened {
}
