.wish_method__switch {
    align-items: flex-start;
    justify-content: center;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.9rem;

    // overflow: auto;
    // form {
    //     display: flex;
    //     flex-direction: row;
    // }
}

.wish_link__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.url_link__box {
    width: 100%;
}
