.form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__box--right {
}

.add__wish__box__form {
    background-color: #e3648d;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 0.9rem;
    width: 44.7%;
    height: 43rem;
    form {
        display: flex;
        flex-direction: row;
    }
}

input[type="text"] {
    width: 170%;
}

input[type="url"] {
    width: 170%;
}
