.wish_form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add__wish__box__form {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3648d;
    padding: 2rem;
    flex-direction: column;
    border-radius: 0.9rem;
    width: 44.7%;
    height: 43rem;
    overflow: auto;
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        .form__box--left {
            width: 30%;
            input {
                border: none;
                border-radius: 0.6rem;
                margin-bottom: 1rem;
            }
        }
        .form__box--right {
            textarea {
                height: 40%;
                border: none;
                border-radius: 0.6rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.product_name__box {
    width: 120%;
}

.product_link__box {
    width: 120%;
}
