.add__wish__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(149, 189, 220);
    font-weight: 700;
    font-style: oblique;
    transition: width 0.5s;
    .wish_method__switch {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .wish__method__switch__btn {
            border: none;
            width: 40%;
            border-radius: 0.6rem;
            font-weight: 600;
            background-color: #9cacbf;
            color: #032e42;
        }
    }
}

.wish_link__box {
    width: 80%;
    input {
        border: none;
        border-radius: 0.4rem;
        padding: 0.1rem;
        margin-left: 0.3rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    select {
        border: none;
        border-radius: 0.4rem;
        padding: 0.28rem;
    }
    .add__wish__btn {
        width: 50%;
    }
}

.add__wish__box img {
    width: 20%;
}
