.add__wish__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b6684;
    font-weight: 700;
    font-style: oblique;
}

.add__wish__box img {
    width: 20%;
}
