.form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__box--right {
    margin-left: 30%;
}

.add__wish__box__form {
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e3648d;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.9rem;
    width: 44.7%;
    height: 43rem;
    overflow: auto;
    form {
        display: flex;
        flex-direction: row;
    }
}

input[type="text"] {
    width: 120%;
}

input[type="url"] {
    width: 120%;
}
