.comments__container {
    display: flex;
    // align-items: flex-end;
    // justify-content: flex-start;
    // flex-wrap: wrap;
}

.wish__box__with__comments {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // background-color: #457581;
    // margin: 2rem;
    // padding: 2rem;
    // border-radius: 0.9rem;
    width: 44.7%;
    // height: 43rem;
    overflow: auto;
    // form {
    //     display: flex;
    //     flex-direction: row;
    // }
    .hide_detail_toggle {
        // align-self: flex-start;
        margin-left: 6.6rem;
        margin-right: 0;
    }
    .wish__user__info {
        width: initial;
    }
    .wish__box--wish {
        max-width: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        p {
            margin-left: 2.5rem;
        }
    }
}

.comments {
    &__section-left {
        display: flex;
        flex-direction: row;
    }
    &__section-right {
        position: absolute;
        top: 1rem;
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        align-self: flex-end;
        left: 60%;
        max-width: 35%;
    }
    &__form {
        display: flex;
        flex-direction: row;
        margin-left: 2rem;
        &-textarea {
            border: none;
            border-radius: 0.4rem;
        }
        &-button {
            border: none;
            border-radius: 0.4rem;
            height: 2.5rem;
            box-shadow: 2px 3.5px #888888;
            background-color: #9cacbf;
            margin-left: 0.2rem;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
}
.comment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &__header {
        margin: 0;
        margin-right: 0.75rem;
        width: 3rem;
    }
    &__photo {
        border-radius: 85%;
        width: 3rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 90%;
        flex-grow: 1;
    }
    &__user-id {
        margin-bottom: 0;
    }
    &__text {
        background-color: white;
        border-radius: 0.4rem;
        padding: 0.2rem 0.5rem;
        // flex-grow: 1;
        overflow-wrap: anywhere;
    }
}
.gonna__buy__container {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.gonna__buy__button {
    border: none;
    border-radius: 0.4rem;
    box-shadow: 2px 3.5px #888888;
    background-color: #9cacbf;
    margin-left: 4rem;

    &__submit {
        border: none;
        border-radius: 0.4rem;
        box-shadow: 2px 3.5px #888888;
        background-color: #9cacbf;
        margin-left: 1rem;
    }
}

.gonna__buy__date {
    border: none;
    border-radius: 0.4rem;
    padding: 0.2rem;
}
