.search-result-section {
    display: flex;
    flex-direction: column;
    form {
        margin-bottom: 0.6rem;
    }
}

.search-result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.friend-search-result {
    display: flex;
    border-radius: 0.9rem;
    padding: 1rem;
    align-items: center;
    min-width: 35%;
    max-width: 45%;

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 45%;
        margin-right: 1rem;
    }

    &__photo {
        border-radius: 50%;
        width: 50%;
    }

    &__nickname {
        font-size: 0.75rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__add {
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
            color: #2b6684;
        }
    }

    &__name {
        font-size: 1rem;
    }
}
