.profile-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo {
        align-self: center;
        margin-left: 0.5rem;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 400;
        &__item {
            // border: 0.25rem black solid;
            // border-radius: 0.9rem;
            // padding: 1rem;
            cursor: pointer;
            padding: 0.5rem 0;
            &:hover {
                color: #e3648d;
            }
            &--active {
                font-size: 1.3rem;
                font-weight: 1000;
                text-decoration: underline;
            }
        }
    }
}
