.user__box {
    background-color: rgba(251, 76, 31, 0.5);
    color: #000000;
    font-weight: 700;
    font-size: 150%;
    font-style: normal;
}

.wish__profile__img {
    border-radius: 15%;
    width: 100%;
    padding: 2rem;
}

.update__form {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    top: 15rem;
    // margin-left: -20rem;
    // height: 35rem;
    width: 40rem;
    padding: 2rem;
    background-color: rgba($color: #012e67, $alpha: 0.3);

    form {
        color: white;
        display: flex;
        flex-direction: column;
        width: 55%;
        .warning__message {
            color: red;
        }
        input {
            border: none;
            border-radius: 0.9rem;
            padding: 0.5rem;
        }
        button {
            margin-top: 1rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            border: none;
            border-radius: 2rem;
            width: 20rem;
            background-color: #9cacbf;
            color: #032e42;
            font-weight: 700;
        }
    }
}
