.wish__box {
    margin: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b6684;
    border-radius: 0.9rem;
    width: 20rem;
    box-shadow: 5px 10px #888888;
    color: #0a1417;
    font-weight: 700;
    font-style: oblique;

    &:hover {
        box-shadow: 10px 15px #195f70;
    }

    & img {
        border-radius: 30%;
        width: 50%;
        padding: 2rem;
    }
}

.wish__user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wish__user__info img {
    border-radius: 2.9rem;
    width: 50%;
    padding: 2rem;
}
