.box__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.wish__box {
    background-color: #2b6684;
    font-weight: 700;
    font-style: oblique;
    color: #0a1417;
    font-style: oblique;

    & img {
        width: 100%;
        overflow: hidden;
    }
}

.wish__user__info {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    padding: 0%;
    width: 90%;
    &__header {
        display: flex;
        align-items: center;
    }
}

.wish__user__info img {
    border-radius: 30%;
    width: 8rem;
    padding: 2rem;
}

.wish__box--wish a {
    color: #9cacbf;
}

.hide_detail_toggle {
    border: none;
    box-shadow: 2px 3.5px #888888;
    background-color: #9cacbf;
    width: 6.7rem;
    border-radius: 0.4rem;
    margin: 0 auto 0.5rem;
}

.wish__fulfilled__mark {
    justify-self: flex-end;
}
