//color-1 = #012e67
//color-2 = #9cacbf
//color-3 = #2b6684
//color-4 = #032e42
//color-5 = #0a1417
* {
    font-family: "Lato", sans-serif;
}

.logo {
    font-family: "Monoton", cursive;
    color: #e3648d;
    font-weight: 1000;
    &--big {
        font-size: 6vw;
    }
    &--tagline {
        font-size: 1.5vw;
        letter-spacing: 0.1vw;
    }
    &--small {
        font-size: 1vw;
    }
}

html {
    background-color: rgba(254, 121, 61, 0.2);
}

.friends {
    background-color: rgba(254, 121, 61, 0.2);
    height: 100%;
}

.profile {
    background-color: rgba(254, 121, 61, 0.2);
}

.wall {
    background-color: rgba(254, 121, 61, 0.2);
}

.history__section {
    background-color: rgba(254, 121, 61, 0.2);
}

@import "./welcome/BotSection.scss";
@import "./welcome/ReviewSlider.scss";
@import "./welcome/TopSection.scss";
@import "./homepage/WishBox.scss";
@import "./homepage/TileBoxGeneral.scss";
@import "./homepage/UserBox.scss";
@import "./homepage/AddNewWishBox.scss";
@import "./homepage/AddNewWishForm.scss";
@import "./homepage/AddLinkWishForm.scss";
@import "./homepage/SearchResultBox.scss";
@import "./homepage/Comments.scss";
@import "./homepage/TopBar.scss";
@import "./homepage/AddFriendBox.scss";
@import "./homepage/NoWishFound.scss";
