.welcome__page--bot--section {
    background-color: #9cacbf;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.promo__tile {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.promo__tile--text {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.9rem;
    margin-left: 1rem;
    padding: 0rem;
}

.promo__tile--image {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: rgba(230, 228, 219, 0.8);
    border-radius: 0.9rem;
    padding: 1rem;
    width: 20%;
    height: 35%;
    margin-bottom: 2rem;
}
