.carousel {
    width: 75vw;
    margin: 0 auto;
    &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vw;
        height: 300px;
        background: rgba($color: grey, $alpha: 0.3);
    }
    &-inside {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
    }
    &-img {
        margin-top: 4rem;
        margin-right: 45rem;
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        img {
            width: auto;
            height: 100%;
            margin-left: -35px;
        }
    }
    &-text {
        position: relative;
        width: 60%;
        padding-left: 15rem;
    }
}
