.carousel {
    width: 75vw;
    margin: 0 auto;
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100vw;
        height: 300px;
        background: rgba($color: grey, $alpha: 0.3);
    }
    &-inside {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &-img {
        height: 100px;
    }
    &-caption {
        position: relative !important;
    }
}
