.carousel {
    width: 75vw;
    margin: 0 auto;
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100vw;
        height: 300px;
        background: rgba($color: grey, $alpha: 0.7);
    }
    &-img {
        border-radius: 50%;
    }
}
