@import "./TopSectionForms.scss";

.welcome__page--top-section {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #012e67;
    .btn__container {
        width: 40vw;
        height: 4.5vw;
        display: flex;
        justify-content: space-between;
        button {
            border: none;
            border-radius: 2vw;
            width: 18vw;
            background-color: #9cacbf;
            color: #032e42;
            font-weight: 700;
            font-size: 1.4vw;
        }
    }
}

.welcome__page--logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding-top: 3rem;
    padding-left: 4rem;
}
